@font-face {
    font-family: OpenSans;
    src: url(OpenSans-Light.ttf);
}

@font-face{
    font-family: JosefinSans;
    src: url(JosefinSans-Bold.ttf);
}

#navbar {
    background-color: #fafafa;
    box-shadow: 0 5px 5px #cacaca;
	top: 0px;
	left: 0px;
    height: 116px;
    width: 100%;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-around;
}

nav li {
    display: flex;
    padding: 48px 148px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: #808080;
    margin: 0;
    font-family: OpenSans;
}

.nav {
    background-color: #fafafa;
    color: #000000;
    text-decoration: none;
}

.nav:hover {
    background-color: #808080;
    color: white;
    text-decoration: none;
}

.redirect {
    color: #464646;
}

.redirect:hover {
    color: #808080;
}

.logo{
    height: 120px;
    display: flex;
}

body{
    background-color: #f1f1f2;
    color: black;
}

header {
    display: flex;
}

h1 {
    font-family: JosefinSans;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    text-transform: uppercase;
    padding-left: 100px;
    padding-right: 100px;
}

h2 {
    text-align: center;
    font-family: JosefinSans;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    text-transform: uppercase;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    padding: 30px 100px 30px 100px;
}

ol {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 200px;
    font-size: 20px;
    line-height: 30px;
}

.flashes {
	background-color: #daa961;
	padding: 30px;
}

.radio-img {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input[type=radio] + img {
    cursor: pointer;
    width: 15%;
}

input[type=radio]:checked + img {
    outline: 2px solid #daa961;
  }

.box {
	border-style: solid;
	border-radius: 20px;
	border-color: #808080;
	border-width: 1px;
	background-color: transparent;
	padding: 30px;
	display:inline-block;
    text-transform: uppercase;
    font-family: OpenSans;
    align-items: center;
    cursor: pointer;
}

.box:hover {
    border-style: solid;
	border-radius: 20px;
	border-color: #808080;
	border-width: 1px;
	background-color: #808080;
	padding: 30px;
	display:inline-block;
    text-transform: uppercase;
    font-family: OpenSans;
    color: white;
}

input[type=submit] {
    background-color: #daa961;
    border: none;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: OpenSans;
}

.screenshots {
    width: 30%;
}

.home-items {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#text-upload {
    display: none;
}

.small-icon {
    height: 15px;
}

.icon {
    height: 280px;
}

.img-right {
    width:50%;
    float:right;
}

.img-left {
    width:50%;
    float:left;
}

.img-right-shadow {
    width:50%;
    float:right;
    box-shadow: -5px 0 5px -5px #cacaca;
}

.img-left-shadow {
    width:50%;
    float:left;
    box-shadow: 5px 0 5px -5px #cacaca;
}

#choice {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.centralised {
    text-align: center;
}

.footer {
    background-color: #fafafa;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-logo {
    height: 40px;
}
