{% extends "base.html" %}

{% block content %}
    <div id="aims">
        <h2>Our Aims</h2>
        <p>To allow the analysis of chat data to be more accessible even for people without coding background.<br><br>
            We want acquaintances and project teams to know the pattern of time when someone responds to messages to be able to engage in a more prolonged conversation. This way, we hope that friendships can be closer, and efficiency can be improved in the context of project work.<br><br>
            Especially in Singapore, many have been left frustrated at undesirable chatting habits such as using excessive Singlish commands in text messages. We hope to help identify these excessively-used commands for people to identify and then make conscious effort to change these habits.<br><br>
            Additionally, we want to help couples find meaningful gifts for their partners. The aesthetically-pleasing and customizable visualisations are crafted to be presentable for occassions such as Anniversary or Valentine’s. This is not only limited to couples, but friends can also gift this poster to each other in the events of Birthdays or Christmas!
        </p>
    </div>

{% endblock %}