<!DOCTYPE html>
<html>
<title>InspecText</title>


<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>

<nav id="navbar">
  <ul>
    <a href="/"><image src="{{url_for('static', filename='logo.png')}}" class="logo"></a>
    <a href="/start" class="nav"><li>START</li></a>
    <a href="/aims" class="nav"><li>Aims</li></a>
    <a href="/features" class="nav"><li>Features</li></a>
  </ul>
</nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="flashes">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}


{% block content %}{% endblock %}

<div class="footer">
    <image src="{{url_for('static',filename='logo.png')}}" class="footer-logo">
</div>

</body>
</html>