{% extends "base.html" %}

{% block content %}
    <div id="features">
        <h2>Features</h2>
        <p class="centralised">What the website offers: from an exported chat to a beautiful poster</p>
        <div class="home-items">
            <div>
                <h1>Visualizations</h1>
                <p class="centralised"><a href="/features/visualize">
                    <button class="box">View All</button>
                </a></p>
            </div>
            <br>
            <image src="{{ url_for('static', filename='visualize.png')}}" class="img-right">
        </div>

        <div class="home-items">
            <image src="{{ url_for('static', filename='customize.png')}}" class="img-left">
            <div>
                <h1>Customizations</h1>
                <p class="centralised"><a href="/features/customize">
                    <button class="box">View All</button>
                </a></p>
            </div>
        </div>
    </div>
{% endblock %}