{% extends "base.html" %}

{% block content %}
<div id="home">
  <div id="home-main" class="home-items">
    
    <div>
      <header>
        <h1>Discover more from your chats</h1>
      </header>
      <p>Want to know more about you and your friend's texting habits? We want to help!</p>
      <p><a href="/start">
        <button class="box">Start inspection</button>
      </a></p>
      <br>
    </div>
    <br>
    <image src="{{ url_for('static', filename='telegram_chat.png')}}" class="img-right">
  </div>

  <div id="home-aims" class="home-items">
    <image src="{{url_for('static', filename='analysis.png')}}" class="img-left">
    <div>
      <header>
        <h1>Our Aims</h1>
      </header>
      <p>We want to automate the process of analysing your text messages to gather more information, or to simply summarise your chats to allow the reminiscence of the past. We also know that large data is scary, and we want to help present them in a friendlier format.</p>
      <p><a href="/aims">
        <button class="box">Learn more</button>
      </a></p>
    </div>
        
    <br>
  </div>
  
</div>

{% endblock %}
