{% extends "base.html" %}

{% block content %}
<div id="start">
    <h2>Choose your platform</h2>
    <div id="choice">
        <div id="whatsapp" class="centralised">
            <a href="/start/whatsapp">
                <button class="box">
                    <image src="{{url_for('static',filename='whatsapp.png')}}" class="icon">
                </button>
            </a>
            <p class="centralised">WhatsApp</p>
        </div>
        <div id="telegram" class="centralised">
            <a href="/start/telegram">
                <button class="box">
                    <image src="{{url_for('static',filename='telegram.png')}}" class="icon">
                </button>
            </a>
            <p class="centralised">Telegram</p>
        </div>
    </div>
</div>
{% endblock %}