{% extends "base.html" %}

{% block content %}
<div id="whatsapp-after-click">
  <h2>Whatsapp</h2>
  <p>
    How to export WhatsApp chat:
    <ol>
      <li>Open chat</li>
      <br>
      <li>Tap <b>More Options</b></li>
      <image src="{{url_for('static', filename='whatsapp1.jpg')}}" class="screenshots">
      <br>
      <li>Tap <b>More</b></li>
      <image src="{{url_for('static', filename='whatsapp2.jpg')}}" class="screenshots"></image>
      <br>
      <li>Tap <b>Export Chat</b></li>
      <image src="{{url_for('static', filename='whatsapp3.jpg')}}" class="screenshots"></image>
      <br>
      <li>Tap <b>Without media</b></li>
      <image src="{{url_for('static', filename='whatsapp4.jpg')}}" class="screenshots"></image>
      <br>
      <li>You will be prompted to share the file. This is entirely up to you, but a convenient way would be to send it to your own email. A .txt file should have been generated.</li>
      <br>
      <li>Upload the file <b>Whatsapp Chat with Contact Name.txt</b> using the button below</li>
    </ol>
  </p>

  <form class="centralised" method="POST" enctype="multipart/form-data">
    <label for="text-upload" class="box" name="text">Upload file <image src="{{url_for('static', filename='upload.png')}}" class="small-icon"></label>
    <input type = "file" id="text-upload" name="fileWhatsapp" accept=".txt">
    <br>
    <input type="submit" value="inspect!">
  </form>


</div>

{% endblock %}